/* Genmon Battery widget */
#genmon-1 box {
    background-color: #1B5E20; 
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/* Genmon DateTime widget */
#genmon-4 box {
    background-color: #2E7D32;
    /* Make a triangle pointing to left*/
    border-top: 5px solid #2E7D32;
    border-bottom: 5px solid #2E7D32;
    border-right: 5px solid #1B5E20;
}

#genmon-4 label {
    margin-top: -11px;
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/* Genmon Memory widget */
#genmon-2 box {
    background-color: #388E3C;
    border-top: 5px solid #388E3C;
    border-bottom: 5px solid #388E3C;
    border-right: 5px solid #2E7D32;
}

#genmon-2 label {
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/* Genmon Media Player widget */
#genmon-5 box {
    background-color: #43A047;
    border-top: 5px solid #43A047;
    border-bottom: 5px solid #43A047;
    border-right: 5px solid #388E3C;
}

#genmon-5 label {
    font-style: italic;
    margin-top: -11px;
    padding-left: 5px;
    padding-right: 5px;	
}
/*---------------------------------------------*/
