 @import "genmon-config.css";

 /* PANEL 43a047*/
.xfce4-panel {
    padding: 0;
    margin: 0;
}
/*---------------------------------------------*/

/* Wifi/Connection widget */
#indicator-button {
    background-color: #4CAF50;
}

#indicator-button image {
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/* Audio widget */
#pulseaudio-button {
    background-color: #43A047;
}

#pulseaudio-button image {
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/* Whisker Menu widget */
#whiskermenu-button {
    margin: 0;
    padding: 0;
}

#whiskermenu-button box {
    background-color: #1B5E20;
    padding-left: 5px;
    padding-right: 5px;
}

#whiskermenu-button:checked box {
    background-color: #5294E2;
}
/*---------------------------------------------*/

.tasklist button {
    border: 2px solid green;
    border-radius: 5px;
}
